table {
    text-align: center;
    border-spacing: 0px;
    border-collapse: collapse;
    margin: auto;
}

td {
    border: solid 1px;
}

.mode {
    writing-mode: vertical-lr;
}

.left {
    border-left: double 3px;
}

.under {
    border-bottom: double 3px;
}

.tr {
    display: inline-block;
    transform: rotate(90deg);
}

.red {
    color: red;
}